frontend/node_modules/*
backend/node_modules/*
/generated/prisma
backend/node_modules/.package-lock.json
backend/node_modules/@prisma/client/package.json
backend/node_modules/@prisma/client/generator-build/index.js
backend/node_modules/@prisma/client/runtime/client.d.mts
backend/node_modules/@prisma/client/runtime/client.d.ts
backend/node_modules/@prisma/client/runtime/client.js
backend/node_modules/@prisma/client/runtime/client.js.map
backend/node_modules/@prisma/client/runtime/client.mjs
backend/node_modules/@prisma/client/runtime/client.mjs.map
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.cockroachdb.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.cockroachdb.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.mysql.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.mysql.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.postgresql.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.postgresql.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.sqlite.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.sqlite.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.sqlserver.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_fast_bg.sqlserver.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.cockroachdb.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.cockroachdb.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.mysql.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.mysql.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.postgresql.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.postgresql.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.sqlite.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.sqlite.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.sqlserver.wasm-base64.js
backend/node_modules/@prisma/client/runtime/query_compiler_small_bg.sqlserver.wasm-base64.mjs
backend/node_modules/@prisma/client/runtime/wasm-compiler-edge.js
backend/node_modules/@prisma/client/runtime/wasm-compiler-edge.js.map
backend/node_modules/@prisma/client/runtime/wasm-compiler-edge.mjs
backend/node_modules/@prisma/client/runtime/wasm-compiler-edge.mjs.map
backend/node_modules/@prisma/client/scripts/default-index.js
backend/node_modules/@prisma/client-runtime-utils/package.json
backend/node_modules/@types/node/http.d.ts
backend/node_modules/@types/node/package.json
backend/node_modules/@types/node/README.md
backend/node_modules/@types/node/v8.d.ts
backend/node_modules/@types/node/zlib.d.ts
backend/node_modules/pg/package.json
backend/node_modules/pg/lib/client.js
backend/node_modules/pg/lib/native/client.js
backend/node_modules/pg-connection-string/package.json
backend/node_modules/pg-pool/index.js
backend/node_modules/pg-pool/package.json
backend/node_modules/pg-protocol/package.json
